<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('customer.home') }}">JustEat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'customer.view_restaurants' %}active{% endif %}" href="{{ url_for('customer.view_restaurants') }}">Restaurants</a></li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'customer.view_order_history' %}active{% endif %}" href="{{ url_for('customer.view_order_history') }}">Orders</a></li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'customer.view_profile' %}active{% endif %}" href="{{ url_for('customer.view_profile') }}">Profile</a></li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'customer.view_cart' %}active{% endif %}" href="{{ url_for('customer.view_cart') }}">
                        <i class="bi bi-cart">
                            <span class = " position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">    
                            </span>
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'customer.mostly_ordered' %}active{% endif %}" href="{{ url_for('customer.mostly_ordered') }}">My Favourite</a>
                </li>
                <li class ="nav-item">
                    <a class = "nav-link " href = "{{url_for('auth.logout')}}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
