<!-- common navigation bar for restaurant -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('restaurant.home') }}">JustEat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('restaurant.view_orders') }}">Orders</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('restaurant.view_profile') }}">Profile</a></li>
                <li class ="nav-item">
                    <a class = "nav-link " href = "{{url_for('auth.logout')}}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>